extra-streamlit-components==0.1.71
streamlit==1.43.2
streamlit-authenticator==0.4.2
streamlit-chat==0.1.1
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.8.4
googleapis-common-protos==1.69.1
pillow==11.1.0
pandas==2.2.3
json5==0.10.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
PyYAML==6.0.2